body {
    background-color: white;
}

.calculator-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin: 0 auto;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
  }